/* CSS exclusivo para los bordes, colores, tamaños y sombras personalizadas */

/* El brillo exterior y el degradado del borde */
.custom-neon-border {
  background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
  box-shadow: 0 0 15px rgba(0, 210, 255, 0.4);
  transition: all 0.3s ease-in-out;
}

.custom-neon-border:focus-within {
  box-shadow: 0 0 30px rgba(0, 210, 255, 0.8);
  transform: scale(1.02);
}

/* Sombra del título */
.custom-text-shadow {
  text-shadow: 0 0 15px rgba(0, 210, 255, 0.6);
  letter-spacing: 1px;
}

/* Quitar el borde azul por defecto que le pone Bootstrap al hacer clic */
.custom-input:focus {
  box-shadow: none !important;
}

/* Color personalizado al pasar el mouse por el botón */
.custom-btn:hover {
  background-color: #3a7bd5 !important;
  color: #ffffff !important;
}

/* Altura controlada para las imágenes del carrusel */
.custom-carousel-img {
  height: 500px;
  object-fit: contain; /* Esto hace que la imagen entre completa sin recortarse */
  background-color: #121212; /* Fondo oscuro para rellenar los huecos laterales */
}

/* --- ESTILOS PARA LAS TARJETAS DEL CATÁLOGO --- */
.custom-card-img {
  height: 250px; /* Altura fija para que todas queden parejas */
  object-fit: cover; /* Recorta los bordes sin deformar la imagen */
  object-position: top; /* Prioriza mostrar la parte de arriba  */
}