<nav class="navbar navbar-expand-lg navbar-dark custom-navbar py-2">
  <div class="container-fluid container">
    
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="border border-2 rounded px-2 py-1 fw-bold fs-5">G10</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-medium">
        <li class="nav-item">
          <a class="nav-link text-uppercase" routerLink="JuegoDetalle" routerLinkActive="active">Catalogo</a>     
        </li>
        <!---Estos enlaces usan condicionales multiples para restringir la vista segun si el rol permite el acceso o no-->
        <!--- Solo se muestra el enlace a la tienda si el usuario está autenticado y tiene el rol de crítico o admin --->
        
        <li class="nav-item" *ngIf="usuarioAutenticado && (usuarioActual.rol === 'critico' || usuarioActual.rol === 'admin')">
          <a class="nav-link text-uppercase text-info" routerLink="/Tienda" routerLinkActive="active">Tienda</a>
        </li>
        <li class="nav-item" *ngIf="usuarioAutenticado && usuarioActual.rol === 'admin'">
          <a class="nav-link text-uppercase text-success" routerLink="/Admin" routerLinkActive="active">Panel Admin</a>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-3 mt-3 mt-lg-0">
        
        <div class="input-group input-group-sm custom-search-group" *ngIf="router.url !== '/'">
          <span class="input-group-text bg-transparent text-light border-secondary">
            <i class="bi bi-search"></i>
          </span>
          <input type="text" class="form-control bg-transparent text-light border-secondary custom-search" placeholder="Search...">
        </div>

        <button type="button" class="btn btn-link text-light fs-5 p-0 text-decoration-none" (click)="ModoOscuro()"> 
          <i class="bi" [ngClass]="esModoOscuro ? 'bi-moon-fill' : 'bi-sun-fill'"></i>
        </button>

        <button *ngIf="!usuarioAutenticado" type="button" class="btn custom-btn-login fw-bold px-4" routerLink="Login">
          <i class="bi bi-chat-square-text-fill me-1"></i> INICIAR SESIÓN
        </button>

        <div *ngIf="usuarioAutenticado" class="d-flex align-items-center gap-2">
          <span *ngIf="usuarioActual.rol === 'critico'" 
                class="badge bg-warning text-dark border border-light" title="Usuario Destacado">
            CRÍTICO
          </span>
          
          <span *ngIf="usuarioActual.rol === 'admin'" 
                class="badge bg-success text-white border border-light shadow-sm" title="Administrador del Sistema">
            ADMIN
          </span>

          <span class="text-light fw-semibold">{{ usuarioActual.nombre }}</span>
          <img [src]="usuarioActual.fotoPerfil" alt="Perfil" class="rounded-circle object-fit-cover border border-2 border-info" width="40" height="40" style="cursor: pointer;">
        </div>

      </div>
    </div>
  </div>
</nav>